.containerGeneral{
    background-color: rgb(30, 29, 29);
}

.contentTitle{
    margin-top: 15%;
    margin-left: 5%;
}

.titleSearch{
    font-size: 16px;
    font-family: inherit;
    color: rgba(255, 255, 255, 1);
}

.contentSearch{
    margin-top: 5%;
    margin-left: 5%;
}

.inputSearch{
    width: 80%;
    /* background-color: aqua; */
}

.contentGenres{
    margin-top: 7%;
    margin-left: 5%;
}
.contentList{
    margin-top: 7%;
    margin-left: 5%;
}

